# IntelliJ IDEA
.idea/
.idea
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Maven
**/target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Java
*.class

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor/Tool backups
*.swp
*.swo
*.bak
*.tmp

# Local environment configs
.env

# IntelliJ run/debug configs (optional)
.idea/runConfigurations/
